.movie-page{
    color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin:2rem auto;
}
.movie-page svg{
    font-size: 1.5rem;
    color: #f7d354;
}
.movie-page .movie-card{
    text-align: center;
}
.movie-page .movie-card img,.movie-page .movie-card h2,  .movie-page .movie-card p{
    margin-bottom: 1rem;
}
.movie-page .movie-card h2{
    font-size: 2rem;
}
.movie-page .movie-card p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}
.tagline {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.info{
    margin-bottom: 1.5rem;
}
.info h3{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.description{
    padding-bottom: 10rem;
}
.description p{
    line-height: 1.4rem;
}