.container .title {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem 0 1rem;
}

.title.query-text {
  color: #f7d354;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.movies-container div {
  width: 30%;
  color: #fff;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #111;
  padding: 1rem;
}
.movies-container div img {
  max-width: 100%;
}
.movies-container div img,
.movies-container div p,
.movies-container div h2 {
  margin-bottom: 1rem;
}
.movies-container div svg {
  color: #f7d354;
}

.movies-container div a {
  background-color: #f7d354;
  border: 2px solid #f7d354;
  border-radius: 4px;
  color: #000;
  padding: 1rem 0.5rem;

  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  font-weight: bold;
}
.movies-container div a:hover {
  background-color: transparent;
  color: #f7d354;
}
